@media (max-width: 425px){
    body{
        margin: 0px;
    }
    .option{
        display: none;
    }
    .but{
        visibility: visible;
    }
    .option-new{
        display: none;
    }
    .header-box{
        width: 100%;
        height:500px;
        background-image: linear-gradient(to top , rgb(29, 29, 29),rgb(46, 22, 49),rgb(29, 29, 29));
        text-align: center;
    }
    h1{
        font-size: 35px;
        font-family: 'lato',sans-serif;
        color: white;
        padding-top: 150px;
    }
    .input{
        height: 50px;
        width:70%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .butt{
        height: 50px;
        width: 50px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    
    }
    .close{
        font-size: 50px;
        color: white;
        background-color: rgba(0, 0, 128, 0);
        border: 0ch;
        position: relative;
        float: right;
    }
    h2{
        font-size: 30px;
        padding-left:0px;
    }
    .text1{
        font-size: 20px;
        margin: 0 0 0 2%;
    }
    ul{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
    .box-1{
        float: none;
        width: 100%;
        padding-left: 0px;
        height:350px;
    }
    .box-2{
        padding-top: 8px;
        padding-left: 0px;
        height: 300px;
        width: 100%;
    }
    .box{
        width:30%;
        height: 160px;
        margin: 15 0 0 10px;
    }
    .img2{
        width:60px;
        height: auto;
    }
    h4{
        font-size: 15px;
    }
    h5{
        font-size: 12px;
    }
    .footer-line{
        width:100%;
    }
    .footer{
        width:100%;
    }
} 
@media (max-width: 375px){
    .img2{
        width:60px;
        height: auto;
    }
}