body{
    margin: 0px;
}

.header{
    width:100%;
    height:80px;
    background-color: rgb(35, 30, 36);
    margin-right: 20px;
    position: fixed;
    z-index: 1;
}
.logo{
    font-size: xx-large;
    font-family: 'Open-sans',sans-serif;
    color: white;
    padding: 20 0 0 50px;
    position: absolute;
}
.option{
    float:right;
    color:white;
    font-family:'Open-sans', sans-serif;
    font-size: large;
    position: relative;
    padding: 30 0 0 75px;
    text-decoration: none;
}
.option:hover{
    text-decoration:underline;
}
.option-new{
    background-color: blueviolet;
    color:white;
    float: right;
    font-family:'Open-sans', sans-serif;
    font-size: large;
    position: relative;
    text-decoration: none;
    padding: 10 15 10 15px;
    margin:20 100 0 75px;
    border-radius: 10px;
}
#header-box{
    width: 100%;
    height:500px;
    background-image: linear-gradient(to top , rgb(29, 29, 29),rgb(46, 22, 49),rgb(29, 29, 29));
    text-align: center;
}
.input{
    height: 50px;
    width:70%;
    margin: 50 0 0 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 3px solid blueviolet;
    transform: translateX(-30px);
    font-size: 18px;
}
button{
    height: 50px;
    width: 70px;
    position: absolute;
    margin:50 0 0 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 0px;
    background-color: blueviolet;
    transform: translateX(-30px);

}
.img{
    width: 30px;
    height: auto;
    position: relative;
}
h1{
    font-size: 40px;
    font-family: 'lato',sans-serif;
    color: white;
    padding-top: 150px;
}
.content1{
    width:100%;
    height:auto;
    text-align: center;
}
h2{
    font-size: 35px;
    font-family:'open-sans',sans-serif;
    color: blueviolet;
}
.text1{
    font-size: 25px;
    margin: 0 100 0 100px;
    font-family: 'lato',sans-serif;
}
.line{
    width:100%;
    height:1px;
    background-image: linear-gradient(to right,white,rgb(80, 80, 80),white);
    margin: 30 0 30 0px;
}
.content2{
    width:100%;
    height:500px;
}
ul{
    font-size: 20px;
    font-family: 'lato',sans-serif;
}
h3{
    font-size: 30px;
    font-family: 'open-sans',sans-serif;
    color: rgb(62, 0, 121);
}
.box-1{
    width:50%;
    height:250px;
    background-color:none;
    float: right;
    position: relative;
    padding-left: 10px;
}
.box-2{
    width:50%;
    height:300px;
    background-color: none;
    padding-top: 8px;
    padding-left: 75px;
}
.imgg2{
    width: 20px;
    height: auto;
}
.box-3{
    width:100%;
    height: 250px;
    box-align: center;

}
.box-3-box{
    width:70%;
    height: 200px;
    border-radius: 10px;
    background-color: none;
    box-align: center;
    margin-left: 15%;
}
.box{
 width:220px;
 height: 160px;
 float: left;
 background-color: none;
 margin: 0 0 0 80px;
 text-align: center;
}
.img2{
    width:120px;
    height: auto;
}
h4{
    font-size: large;
    font-family: 'lato',sans-serif;
    color:blueviolet
}
h5{
    font-size: medium;
    font-family: 'lato',sans-serif;
}
.footer-line{
    width:100%;
    height:8px;
    background-color: blueviolet;
}
.footer{
        width:100%;
        height:100px;
        background-color: rgb(39, 39, 39);
}